@import '../../vars.css';

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    z-index: 2;
    margin: 0 10%;
}

.title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu{
    display: flex;
}

.menuitems{
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuitems a{ 
    font-size: 25px;
    color : var(--color-text);
    text-decoration: none;
}
.videoLogo {
    height: 200px; 
    width: auto;
    transition: opacity 0.5s ease-in-out;
  }
  
  .staticLogo {
    height: 200px; 
    width: auto; 
  }

  .menuicon {
    display: none;
  }

  

@media screen and (max-width: 830px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }   

    .videoLogo {
        height: 130px; /* Adjust to fit your navbar size */
        width: auto;
        transition: opacity 0.5s ease-in-out;
      }

    .menu{
        position: absolute;
        right :0;
        margin-right: 10px;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
    }

    .menuitems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px ;
        border-radius: 10px;
        background: rgb(226, 191, 179);
        background: linear-gradient(0deg, rgba(209, 79, 3, 0.344) 0%, rgba(251, 238, 230,1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }

    .menuOpen{
        display: flex;
        z-index: 1;
    }
    .staticLogo {
      display: block;
        height: auto; /* Adjust the value as needed */
        width: 140px; /* Maintain the aspect ratio */
      }

      .menuicon {
        display: flex;
        margin-top: 45px;
      }

      .menuicon .menuClose{
        width: 20px;
        height: auto;
      }

      .menuicon .menuOpen{
        width: 32px;
        height: auto;
      }
}